social_media_workflow.json
{
  "name": "Social Media Content Factory",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "Get Row(s)",
        "documentId": "1iSEn5OJPlyrhC2Pg9u_BWUY840dVnLbS08vg95HJbZ4",
        "sheetName": "GLOBAL_CONFIG",
        "options": {
          "key": "A",
          "value": "B",
          "headerRow": true
        }
      },
      "name": "1. Read Global Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        470,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE-WITH-YOUR-GOOGLE-SHEETS-CREDENTIAL-ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "Get Row(s)",
        "documentId": "1iSEn5OJPlyrhC2Pg9u_BWUY840dVnLbS08vg95HJbZ4",
        "sheetName": "PRIORITY_QUEUE",
        "filters": {
          "conditions": [
            {
              "field": {
                "jsonPath": "STATUS"
              },
              "operation": "equals",
              "value": "PENDING"
            }
          ]
        },
        "options": {
          "limit": 1
        }
      },
      "name": "2. Read Priority Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        690,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE-WITH-YOUR-GOOGLE-SHEETS-CREDENTIAL-ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $items().length > 0 }}",
              "operation": "true"
            }
          ]
        }
      },
      "name": "3. Priority Task Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "topic",
              "value": "={{$node[\"2. Read Priority Queue\"].json[\"TOPIC_TITLE\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "4a. Set Topic from Priority",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1130,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "topic",
              "value": "This topic would be auto-generated from trends."
            }
          ]
        },
        "options": {}
      },
      "name": "4b. Auto-Scrape Topic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1130,
        400
      ]
    },
    {
      "parameters": {
        "mode": "merge",
        "options": {}
      },
      "name": "5. Merge Topic",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://REPLACE-WITH-YOUR-CLOUD-RUN-SERVICE-URL.a.run.app/render-video",
        "options": {},
        "bodyParametersJson": "={{ {} }}",
        "jsonParameters": true
      },
      "name": "6. Call Video Rendering Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1570,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "Update Row",
        "documentId": "1iSEn5OJPlyrhC2Pg9u_BWUY840dVnLbS08vg95HJbZ4",
        "sheetName": "PRIORITY_QUEUE",
        "keyColumn": "PRIORITY_ID",
        "key": "={{$node[\"2. Read Priority Queue\"].json[\"PRIORITY_ID\"]}}",
        "fieldsToUpdate": {
          "string": [
            {
              "fieldName": "STATUS",
              "fieldValue": "COMPLETED"
            }
          ]
        }
      },
      "name": "7. Update Priority Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1790,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE-WITH-YOUR-GOOGLE-SHEETS-CREDENTIAL-ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "1. Read Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Read Global Config": {
      "main": [
        [
          {
            "node": "2. Read Priority Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Read Priority Queue": {
      "main": [
        [
          {
            "node": "3. Priority Task Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Priority Task Exists?": {
      "main": [
        [
          {
            "node": "4a. Set Topic from Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4b. Auto-Scrape Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4a. Set Topic from Priority": {
      "main": [
        [
          {
            "node": "5. Merge Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4b. Auto-Scrape Topic": {
      "main": [
        [
          {
            "node": "5. Merge Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Merge Topic": {
      "main": [
        [
          {
            "node": "6. Call Video Rendering Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Call Video Rendering Service": {
      "main": [
        [
          {
            "node": "7. Update Priority Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
